#set( $if = '#if' )
#set( $end = '#end' )
#set( $m = '$' )
#set( $equal = 'equals' )
#set( $else = '#else' )
#if(!$pagineOrderBy)
select * from $tableName where 1=1
#if($conditions && $conditions.size() > 0) 
	#foreach($condition in $conditions)
		#if($condition.type.equals("String"))
			$if($m$condition.fieldName && !$m$condition.fieldName.$equal(""))
				and $condition.columnname #if($condition.like)like #else=#end#[$condition.fieldName]		
			$end
		#else
			#if(!$condition.daterange)
				$if($m$condition.fieldName && $m$condition.fieldName > 0)
					and $condition.columnname=#[$condition.fieldName]
				$end
			#else
				$if($m${condition.fieldName}_start )
					and $condition.columnname>=#[${condition.fieldName}_start]
				$end
				$if($m${condition.fieldName}_end )
					and $condition.columnname<=#[${condition.fieldName}_end]
				$end
			#end		
		#end	
	#end
#end 
#end
#if((!$pagineWithDBRownumberOver  || $pagineOrderBy) && $needsort)
$if(${m}sortKey && !${m}sortKey.$equal(""))
		order by ${m}sortKey ${if}(${m}sortDesc)desc$else asc$end
	$end
#end