#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
int cnt=0;
try{
	cnt=executor.queryTFieldBean#if($dbname)WithDBName${start}int${dot}class, "$dbname",#else${start}int${dot}class, #end"queryCntByCondition", condition);
}catch(Exception e){
	throw new  $exception$start"count $entityName failed:",e$end;
}
return cnt;