<%@ page session="false" language="java"
	contentType="text/html; charset=utf-8"%>
<%@ taglib uri="/WEB-INF/tld/pager-taglib.tld" prefix="pg" %>
<%@ taglib uri="/WEB-INF/tld/admin-taglib.tld" prefix="admin" %>
<%@ taglib uri="/WEB-INF/tld/dictionary.tld" prefix="dict" %>

<!-- 
	描述:${moduleCNName}管理分页列表界面。
	作者:$author
	版权:$company
	版本:$version 
	日期:$gendate
-->
#set( $start = '${' )
#set( $end = '}' )
#macro( fieldattr $field)
#if($field.dateformat && !$field.dateformat.equals("")) dateformat="$field.dateformat" #end #if($field.numformat  && !$field.numformat.equals("")) numerformat="$field.numformat" #end
#end
<div class="table-scrollable">
		<pg:pager scope="request"  data="${entityVarName}s" containerid=".portlet-${entityName}list">
#foreach($condition in $conditions)
		<pg:param name="${condition.fieldName}"/>
#end	
		<!-- 加入 class="tableOutline" 可控制表格宽度，滚动条展示 -->
		<table	class="table table-bordered table-striped table-condensed table-${entityName}list" >
			<thead >
	        <pg:header>
	            <th width="2%"><input type="checkbox" class="checkboxall" onClick="checkAll('.table-${entityName}list .checkboxall','.table-${entityName}list .checkone')"/>
				#foreach($field in $hiddenfields)
				<input id="$field.fieldName" type="hidden" name="$field.fieldName" value="<pg:cell colName="$field.fieldName" #fieldattr($field)  />"/>
				#end				
				</th>
				<th width="2%">序号</th>				
#foreach($field in $fields)
#if($field.sortField)				
	       		<pg:title sort="true" type="th" #if($field.width && !$field.width.equals("") )width="$field.width"#end colName="$field.columnname"  #if(!$genI18n)title="$field.fieldCNName"#else titlecode="$namespacei18n.$field.fieldName"#end #if(!$field.desc)desc="true"#else desc="false" #end/>
#else
	       		<th #if($field.width && !$field.width.equals(""))width="$field.width"#end>#if(!$genI18n)$field.fieldCNName#else<pg:message code="$namespacei18n.$field.fieldName"/>#end</th>
#end	       		
#end	  		
				<th width="10%">操作</th>
	       	</pg:header>	
	       	</thead>
	       	<tbody>
		      <pg:list>
		
		   		<tr >
		   				<td><input
							name="${primaryKeyName}" type="checkbox" class="checkone" onClick="checkOne('.table-${entityName}list .checkboxall','.table-${entityName}list .checkone')" value="<pg:cell colName="${primaryKeyName}"  #fieldattr($primaryKeyField) />" 
							/>
						</td>
		   		        
		                <td><pg:rowid increament="1" offset="false"/></td>    
	#foreach($field in $fields)	                    
		                <td>
		                #if($field.dict.equals(""))
		                	#if($field.maxlength>0)
			                	<span class="tooltips" data-original-title="<pg:cell colName="$field.fieldName"/>">
										<pg:cell colName="$field.fieldName" maxlength="$field.maxlength" #if($field.replace)replace="$field.replace"#end/>
								</span>
							#else
								<pg:cell colName="$field.fieldName" #fieldattr($field)/>
							#end
						#else
							<dict:itemname type="$field.dict" colName="$field.fieldName" /> 
						#end 
									
						</td>
	#end	                
		        		
		                <td nowrap>
		                <a class="btn btn-xs blue btn-view${entityName}" data='<pg:cell colName="${primaryKeyName}" #fieldattr($primaryKeyField)/>' > 查看 </a>
						<a class="btn btn-xs red btn-edit${entityName}" data='<pg:cell colName="${primaryKeyName}" #fieldattr($primaryKeyField)/>' >
								 修改
							</a>	               
		               </td>    
		                 
		        </tr>
			 </pg:list>
		 </tbody>
	    </table>
</div>	   
		<div class="pages"><input type="hidden" value="<pg:querystring/>" id="querystring"/><pg:index tagnumber="10" sizescope="5,10,20,50,100"/></div>
	
	    </pg:pager>
<script type="text/javascript">
		jQuery(document).ready(function() {	
			
			var usercontextpath = "<%=request.getContextPath()%>";
			$(".table-${entityName}list .btn-view${entityName}").bind('click',function(){
					var data = $(this).attr("data");
                   	 
                   	 ModelDialog.dialog({
	         					title:"查看${moduleCNName}信息",
	         					showfooter:false,
	         					url:usercontextpath+"${relativePath}/get${entityName}.page",
	         					params:{
	         						"${primaryKeyName}":data
	         				      },
	         					width:"1024px",
	         					height:"568px"

	         	         });
			});
			$(".table-${entityName}list .btn-edit${entityName}").bind('click',function(){
					var data = $(this).attr("data");             	 
                   	 
                	 ModelDialog.dialog({
         					title:"修改${moduleCNName}信息",
         					showfooter:false,
         					url:usercontextpath+"${relativePath}/toUpdate${entityName}.page",
         					params:{
         						"${primaryKeyName}":data
         				      },
         					width:"1024px",
         					height:"568px"

         	         });
			});			
		});		
</script>