<%@ page session="false" language="java"
	contentType="text/html; charset=utf-8"%>
<%@ taglib uri="/WEB-INF/tld/pager-taglib.tld" prefix="pg"%>
<%@ taglib uri="/WEB-INF/tld/admin-taglib.tld" prefix="admin"%>
<%@ taglib uri="/WEB-INF/tld/dictionary.tld" prefix="dict" %>	
<!-- 
	描述:${moduleCNName}主界面。
	作者:$author
	版权:$company
	版本:$version 
	日期:$gendate
-->
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
	<admin:menuposition />
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
#set( $str_shell = '#' )
#set( $str_money = '$' )
#set( $str_prex = '${' )
#set( $str_after = '}' )
#set( $have_datepicker = false )
<div class="row">
<div class=" col-md-12">
	#if($conditions && $conditions.size() > 0)
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">

				<div class="portlet-title">
					<div class="caption">
						<i class="icon-pin font-yellow-crusta"></i> <span
							class="caption-subject bold font-yellow-crusta uppercase">
							查询条件 </span>

					</div>
					
				</div>
				<div class="portlet-body form">
					<form role="form" class="form-horizontal form-query${entityName}">					 
						<div class="form-body">					
						#foreach($condition in $conditions)
							#if( $foreach.index % 3 == 0)
								#if($foreach.index > 0)</div>#end
							<div class="row">
							#end
								<div class="col-md-4">
									<div class="form-group form-md-line-input">
										<label class="col-md-3 control-label" for="form_control_1">#if(!$genI18n)${condition.fieldCNName}#else<pg:message code="$namespacei18n.$condition.fieldName"/>#end	
										</label>
										<div class="col-md-9">
											#if($condition.datetype)
												#if($condition.daterange)
													#set( $have_datepicker = true )
													 <div class="input-group date-picker input-daterange" >
                                                           <input type="text" class="form-control  input-xs" name="${condition.fieldName}_start">
                                                           <span class="input-group-addon  input-group-xs"> 到 </span>
                                                           <input type="text" class="form-control  input-xs  " name="${condition.fieldName}_end"> </div>
												#else
													#set( $have_datepicker = true )
													<div class="input-group">
														<input type="text" class="form-control date-picker" name="${condition.fieldName}"
															placeholder="请输入#if(!$genI18n)${condition.fieldCNName}#else<pg:message code="$namespacei18n.$condition.fieldName"/>#end"> <span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
														<div class="form-control-focus"></div>
														 
													</div>
												#end
											#else													
												<div class="input-icon right">
													#if($condition.dict.equals(""))
													<input type="text" class="form-control  input-xs"
														placeholder="#if(!$genI18n)${condition.fieldCNName}#else<pg:message code="$namespacei18n.$condition.fieldName"/>#end" name="${condition.fieldName}">
													#else
														#if($condition.dictType.equals("select"))
														<dict:select  type="$condition.dict" name="$condition.fieldName" textValue="$condition.textValue" textNAN="$condition.textNAN" extend="class=\"form-control input-xs\"" />
														#elseif($condition.dictType.equals("checkbox"))
														<dict:checkbox  type="$condition.dict" name="$condition.fieldName" extend="class=\"form-control input-xs\"" />
														#else
														<dict:radio  type="$condition.dict" name="$condition.fieldName" extend="class=\"form-control input-xs\"" />
														#end
													#end
													<div class="form-control-focus"></div>
													<span class="help-block">请输入#if(!$genI18n)${condition.fieldCNName}#else<pg:message code="$namespacei18n.$condition.fieldName"/>#end</span>
												</div>
											#end
											
										</div>
									</div>
								</div>
								
								
								#if($foreach.index == ($conditions.size() - 1))
								   #if($foreach.index % 3 == 2 ) 
								   ## 结束当前行，另起一行显示查询按钮
									   </div>
									   <div class="row">
											<div class="col-md-4">&nbsp;</div>
											<div class="col-md-4">&nbsp;</div>
											<div class="col-md-4">
												<div class="form-group form-md-line-input">
		
													<div class="col-md-12">
														<div class="input-group">
		
															<span class="input-group-btn btn-left">
		
																<button type="button"
																	class="btn btn-xs green-haze btn-query${entityName} "
																	aria-expanded="false">查询</button>
																<button type="reset" class="btn btn-xs default reset"
																	aria-expanded="false">重置</button>
		
															</span>
														</div>
		
													</div>
												</div>
											</div>
										</div> 
								   #end
								   #if($foreach.index % 3 == 1 )  
								   		<div class="col-md-4">
												<div class="form-group form-md-line-input">
		
													<div class="col-md-12">
														<div class="input-group">
		
															<span class="input-group-btn btn-left">
		
																<button type="button"
																	class="btn btn-xs green-haze btn-query${entityName} "
																	aria-expanded="false">查询</button>
																<button type="reset" class="btn btn-xs default reset"
																	aria-expanded="false">重置</button>
		
															</span>
														</div>
		
													</div>
												</div>
											</div>
										</div> 
								   #end
								   #if($foreach.index % 3 == 0 ) 	
								   			<div class="col-md-4">&nbsp;</div>								   										   		
											<div class="col-md-4">
												<div class="form-group form-md-line-input">
		
													<div class="col-md-12">
														<div class="input-group">
		
															<span class="input-group-btn btn-left">
		
																<button type="button"
																	class="btn btn-xs green-haze btn-query${entityName} "
																	aria-expanded="false">查询</button>
																<button type="reset" class="btn btn-xs default reset"
																	aria-expanded="false">重置</button>
		
															</span>
														</div>
		
													</div>
												</div>
											</div>
										</div> 
								   #end								
								#end
							#end
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	#end
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-title tabbable-line">
					<div class="caption">
						<i class="icon-pin font-yellow-crusta"></i> <span
							class="caption-subject bold font-yellow-crusta uppercase">
							${moduleCNName}列表 </span>

					</div>
					<div class="actions">
						 
						<a class="btn btn-xs blue btn-add${entityName}"  > 新增 <i class="fa fa-edit"></i></a>
						 <a class="btn btn-xs red btn-batchdel${entityName}" >
							<i class="fa fa-times"></i> 批量删除
						</a> 
						 
						 
					</div>
				</div>
				<div class="portlet-body portlet-${entityName}list"></div>
			</div>
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
var Sys${entityName}Manager = function(){
	var usercontextpath = "<%=request.getContextPath()%>";
	var query${entityName}s = function(doquery){
		#foreach($condition in $conditions)										
			var ${condition.fieldName}=$("#${condition.fieldName}").val();
		#end	
		#if($needcondition)
		if(#foreach($condition in $conditions) #if($foreach.index == 0) PDP.containSpecial(${condition.fieldName})#else || PDP.containSpecial(${condition.fieldName})#end#end){
			PDP.warn('查询字符串含有非法字符集,请检查输入条件！');
			return;
		}
		#end
		$(".portlet-${entityName}list").load(usercontextpath+"${relativePath}/queryListInfo${entityName}s.page",
									doquery?$('.form-query${entityName}').serialize():{},
									function(){
									});	
	}
	return {
		query${entityName}s:function(doquery){
			query${entityName}s(doquery);
		},
		usercontextpath:function(){
			return usercontextpath;
		}
	}
}();
$(document).ready(function() {
	#if($have_datepicker == true)
		 $('.date-picker').datepicker({
	            rtl: App.isRTL(),
	            autoclose: true,
	            language:'zh-CN',
	            format:'yyyy-mm-dd'
	        });
	#end
	var usercontextpath = Sys${entityName}Manager.usercontextpath();
	Sys${entityName}Manager.query${entityName}s(false);	
	$(".form-query${entityName} .btn-query${entityName}").bind('click',function(){
			Sys${entityName}Manager.query${entityName}s(true);
	});
	$(".btn-add${entityName}").bind('click',function(){
		 ModelDialog.dialog({
				title:"新增${moduleCNName}",
				showfooter:false,
				url:usercontextpath+"${relativePath}/toAdd${entityName}.page",				
				width:"1024px",
				height:"568px"

         });
	});
	$(".btn-batchdel${entityName}").bind("click",function(){
	  
        var chk_value =[]; 
        $('.portlet-${entityName}list input[name="${primaryKeyName}"]:checked').each(function(){ 
        	chk_value.push($(this).val());
        }); 
        if(chk_value.length == 0)
        {
           	 PDP.warn("请选择要删除的${moduleCNName}!");
           	 return;
        }
         PDP.confirm("确定要删除选中的${moduleCNName}吗?",function(isConfirm){
           	 	if(isConfirm)
           	 	{        	 		
           	 		
	           	 	$.post(usercontextpath+"${relativePath}/deleteBatch${entityName}.page",
	          				$.param( {
									"${primaryKeyName}s" : chk_value
								 },true),
	          				function(responseText){
		          				if(responseText=="success"){
		          					
		          					PDP.success("${moduleCNName}删除成功!");
		          					Sys${entityName}Manager.query${entityName}s(false);
		          				}else{
		          					PDP.warn("${moduleCNName}删除失败:"+responseText);
		          				}
	          				});
           	 	}		        	
			});	
	});

            
});

</script>
