<%@ page session="false" language="java"
	contentType="text/html; charset=utf-8"%>
<%@ taglib uri="/WEB-INF/tld/pager-taglib.tld" prefix="pg" %>
<%@ taglib uri="/WEB-INF/tld/dictionary.tld" prefix="dict" %>	
<!-- 
	描述:查看${moduleCNName}界面。
	作者:$author
	版权:$company
	版本:$version 
	日期:$gendate
-->
#macro( fieldattr $field)
#if($field.dateformat && !$field.dateformat.equals("")) dateformat="$field.dateformat" #end #if($field.numformat  && !$field.numformat.equals("")) numerformat="$field.numformat" #end
#end
<pg:beaninfo requestKey="${entityVarName}">	

	<!-- BEGIN FORM-->
	<form action="#" class="form-horizontal" >
		<div class="form-body">
		#foreach($field in $hiddenfields)
		  	<input id="$field.fieldName" name="$field.fieldName" type="hidden" value="<pg:cell colName="$field.fieldName"   #fieldattr($field)/>" />
	  	#end
	  	#foreach($field in $fields)
			#if( $foreach.index % $controlInfo.themeCols == 0)
				#if($foreach.index > 0)</div>#end
			<div class="row">
			#end
			<div class="col-md-$controlInfo.themeColWidth" >
				<div class="form-group ">
					<label class="col-md-3 control-label"">#if(!$genI18n)$field.fieldCNName#else<pg:message code="$namespacei18n.$field.fieldName"/>#end:				 
					</label>
					 
					<div class="col-md-9">
						<p class="form-control-static"> 
						#if($field.dict.equals(""))
						<pg:cell colName="$field.fieldName"   #fieldattr($field)/> 
						#else
						<dict:itemname type="$field.dict" colName="$field.fieldName" /> 
						#end
						 </p>
					</div>
				</div>
			</div>
			 
			#if($foreach.index == ($fields.size() - 1))						
			</div>	
			#end
		#end
		</div>
		
		<div class="form-actions">
			<div class="row">
				<div class="col-md-offset-3 col-md-9">					
					<button type="button" class="btn green" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
		
	</form>

</pg:beaninfo> 
